<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>C</string>
	<string>Java</string>
	<string>Objective-C</string>
	<string>C++</string>
	<string>C#</string>
	<string>Basic</string>
	<string>PHP</string>
	<string>Python</string>
	<string>Perl</string>
	<string>Transact-SQL</string>
	<string>Delph/Object Pascal</string>
	<string>JavaScript</string>
	<string>Visual Basic .NET</string>
	<string>Visual Basic</string>
	<string>R</string>
	<string>Ruby</string>
	<string>Dart</string>
	<string>F#</string>
	<string>Swift</string>
	<string>Pascal</string>
</array>
</plist>
